.card{
    background-color: rgba(253, 253, 253, 0.7);
    border-radius: 5px;
    padding: 1px 15px 15px 15px;    
    box-shadow: 0px 0px 20px rgb(155, 155, 155);
    min-height: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.card:first-child{
    margin-top: 20px;
}
.card h5, .card span{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}
.card p{
    font-size: 18px;
    padding: 10px;
    margin: 0;
    padding-left: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.card p:hover{
    background-color: #e9e9e9;
}
.card .checked{
    background-color: rgb(202, 201, 201);
}
.card .wrong{
    background-color: rgb(243, 209, 209);
}
.card .right{
    background-color: rgb(209, 243, 209);
}
.card span{
    margin-right: 10px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    padding-bottom: 6px;
}
.card-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.card-footer-btn{
    margin: 0 20px;
    font-weight: 400;
    font-family: 'Yeseva One', cursive;
    min-width: 70px;
    height: 30px;
    border-radius: 5px;
    color: aliceblue;
    border: none;
    background-color: rgb(80 115 147);
}

@media only screen and (max-device-width: 520px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .card{
        min-height: 270px;
    }
    .card h5, .card span{
        font-weight: 400;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
    }
    .card p{
        font-weight: 300;
        font-size: 12px;
        font-family: 'Rubik', sans-serif;
    }
    .card-footer-btn{
        width: 90px;
        height: 25px;
        margin: 0 5px;
    }
    .card-body{
        padding-bottom: 15px;
        padding-top: 5px;        
    }
}