.card{
    background-color: rgb(253, 253, 253);
    border-radius: 5px;
    padding: 1px 15px 15px 15px;    
    box-shadow: 0px 0px 20px rgb(155, 155, 155);
    min-height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card h5, .card span{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}
.card p{
    font-size: 18px;
    padding-left: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}
.card p:hover{
    background-color: #f7f7f7;
}
.card p .clicked{
    background-color: #eeeeee;
}
.card span{
    margin-right: 10px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    padding-bottom: 6px;
}
.card-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
}
.card-footer-btn{
    margin: 0 20px;
    font-weight: 400;
    font-family: 'Yeseva One', cursive;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(10, 62, 110);
}

@media only screen and (max-device-width: 520px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .card{
        min-height: 270px;
    }
    .card h5, .card span{
        font-weight: 400;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
    }
    .card p{
        font-weight: 300;
        font-size: 12px;
        font-family: 'Rubik', sans-serif;
    }
    .card-footer-btn{
        width: 50px;
        height: 25px;
    }
    .card-body{
        padding-bottom: 15px;
        padding-top: 5px;        
    }
}