<div *ngIf="isShowFrontpage">
    <section class="flex custom-section about-me">
        <div class="flex flex-wrap h-full">
            <h1 class="font-forum-700 text-white m-0">АНГЛИЙСКИЙ </h1>
            <h2 class="font-forum-700 text-yellow">для твоих целей</h2>
            
            <p class="flex-wrap font-lora-400 text-white">
                Занятия, на которых ты научишься свободно <span class="text-yellow"><b>говорить</b></span> и <span class="text-yellow"><b>понимать</b></span> носителей                
            </p>
            <p><button class="btn font-lora-400">Записаться на занятие</button></p>
        </div>       
    </section>
    
    <section class="flex custom-section testing">
        <div class="flex-wrap justify-content-center align-items-center w-5">
            <h1 class="intro-slogan text-white">Outcome test</h1>
            <p class="default-text text-white">
                Для того, чтобы определить свой уровень владения английским языком, рекомендую пройти общий тест. 
            </p>           
            <button class="test-button" (click)="startTesting()"><h4>Test</h4></button>            
        </div>               
    </section>
    <section class="flex custom-section">
        <div class="flex contacts-image">
        </div>
        <div class="intro-description">
            <h1 class="intro-slogan">You can find me on:</h1>            
            <a class="block default-text pl-6">Instagram</a>
            <a class="block default-text pl-6">Youtube</a>
            <a class="block default-text pl-6">VKontacte</a>
            <a class="block default-text pl-6">Email</a>
        </div>        
    </section>
</div>