<div *ngIf="isShowFrontpage">
    <section class="flex intro">
        <div class="intro-description">
            <h1 class="intro-slogan">Here will be my best Slogan!</h1>
            <p class="default-text">In this page you can read obout me and my courses. Welcome to my public site!</p>
        </div>
        <div class="intro-image">
        </div>
    </section>
    <section class="flex intro">
        <div class="intro-description">
            <h1 class="intro-slogan">Here will be my best Slogan!</h1>
            <p class="default-text">In this page you can read obout me and my courses. Welcome to my public site!</p>
        </div>
        <div class="intro-image">
        </div>
    </section>
</div>