<div class="flex flex-column">
  <div class="card-wrapper">
    <app-list-of-cards
      *ngIf="!isComplete"
      [cards]="cards"
      (onCardSelected)="onCardSelected($event)"
    >
    </app-list-of-cards>
  </div>
  <div class="card-wrapper">
    <app-placement-test
      *ngIf="!isComplete"
      [card]="currentCard"
      [isCardForTesting]="true"
      [isCardFirst]="isCardFirst"
      [isCardLast]="isCardLast"
      (onAction)="handleActions($event)"
      (onAnswered)="onAnswered($event)"
    ></app-placement-test>
  </div>
  <div *ngFor="let card of completeCards" class="card-wrapper">
    <app-placement-test
      *ngIf="isComplete && isEndTesting"
      [card]="card"
      [isCardForTesting]="false"
      [isCardFirst]="isCardFirst"
      [isCardLast]="isCardLast"
      (onAction)="handleActions($event)"
      (onAnswered)="onAnswered($event)"
    ></app-placement-test>
  </div>
  <div class="card-wrapper">
    <app-result
      *ngIf="isComplete && !isEndTesting"
      [levelDescription]="getLevelDescription()"
      (onEndTesting)="onEndTesting($event)"
      (onStudentName)="onSendResultToDb($event)"
    ></app-result>
  </div>
</div>
