<div class="flex flex-column">
<div class="card-wrapper">
    <app-list-of-cards
    *ngIf="!isComplete"
    [cards]="cards"
    (onCardSelected)="onCardSelected($event)"
    >
    </app-list-of-cards>
</div>
<div class="card-wrapper">
    <app-placement-test 
    *ngIf="!isComplete"
    [card]="currentCard"
    [isCardFirst]="isCardFirst"
    [isCardLast]="isCardLast"
    (onAction)="handleActions($event)"
    (onAnswered)="onAnswered($event)"
    ></app-placement-test>
</div>
<div  class="card-wrapper">
    <app-result 
    *ngIf="isComplete"
    [totalPoints]="totalPoints"
    (onEndTesting)="onEndTesting($event)"
    ></app-result>
</div>
</div>