.card-wrapper{
    width: 55vw;
}
.card-wrapper app-result{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-device-width: 480px){
    .card-wrapper{
        width: 80vw;
    }
 }