<div class="">
  <header class="">
  <div class="logo flex justify-content-start w-full mb-2 mt-2">
    <img src="../assets/book_logo.png" alt="" width="200" height="100">
  </div>
  <div class="title absolute top-0" style="width: 280px; height: 50px; margin: 0;">
    <h1>English</h1>
    <h5 class="flex justify-content-end">level test</h5>
  </div>
</header>
<div class="main row">
  <div class="card flex flex-wrap justify-content-center"> 
    <p>Как проходить тест</p>
    <br/>
    <p>1. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas provident cumque quibusdam accusantium tenetur tempore quo minus, placeat perferendis illum inventore aliquam et repellat maiores qui alias commodi cum sint ratione repellendus quae. Optio esse sapiente quibusdam blanditiis dolores laboriosam?</p>
    <p>2. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas provident cumque quibusdam accusantium tenetur tempore quo minus, placeat perferendis illum inventore aliquam et repellat maiores qui alias commodi cum sint ratione repellendus quae. Optio esse sapiente quibusdam blanditiis dolores laboriosam?</p>
    <p>3. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas provident cumque quibusdam accusantium tenetur tempore quo minus, placeat perferendis illum inventore aliquam et repellat maiores qui alias commodi cum sint ratione repellendus quae. Optio esse sapiente quibusdam blanditiis dolores laboriosam?</p>
    <p>3. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas provident cumque quibusdam accusantium tenetur tempore quo minus, placeat perferendis illum inventore aliquam et repellat maiores qui alias commodi cum sint ratione repellendus quae. Optio esse sapiente quibusdam blanditiis dolores laboriosam?</p>
    <p>3. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas provident cumque quibusdam accusantium tenetur tempore quo minus, placeat perferendis illum inventore aliquam et repellat maiores qui alias commodi cum sint ratione repellendus quae. Optio esse sapiente quibusdam blanditiis dolores laboriosam?</p>
    <p>3. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas provident cumque quibusdam accusantium tenetur tempore quo minus, placeat perferendis illum inventore aliquam et repellat maiores qui alias commodi cum sint ratione repellendus quae. Optio esse sapiente quibusdam blanditiis dolores laboriosam?</p>
    <p>5. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas provident cumque quibusdam accusantium tenetur tempore quo minus, placeat perferendis illum inventore aliquam et repellat maiores qui alias commodi cum sint ratione repellendus quae. Optio esse sapiente quibusdam blanditiis dolores laboriosam?</p>

  </div>
 
  <app-placement-test></app-placement-test>
</div>
<footer class="flex flex-wrap align-items-center justify-content-center w-full">
  <div class="flex align-items-center" style="height: 100px;">
    <button class="startBtn"  
    >Start</button>
  </div>
</footer>
</div>
