h1, h5{
    margin: 0;    
}

.main {     
    min-height: calc(100vh - 240px);
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    overflow: auto;
    margin-top: 30px;
}
header{
    position: sticky;
    height: 120px;
    top: 0;
    left: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    background-color: rgb(248, 245, 240);
    box-shadow: 0px 0px 20px rgb(177, 177, 177);
}
header .title h1{
    font-weight: 900;
    font-family: 'Noto Serif Display', serif;
    font-size: 70px;
    color: rgb(6, 41, 73);
    text-shadow: 2px 5px 10px rgb(113, 113, 113);
}
header .title h5{
    position: absolute;
    top: 75px;
    left: 139px;
    font-weight: 600;
    font-family: 'Yeseva One', cursive;
    font-size: 28px;
    color: rgb(252, 230, 31);
    text-shadow: 2px 5px 15px rgb(113, 113, 113);
}

.intro{    
    margin-top: 20px;    
    width: 55%;
    min-height: 50%;   
    box-shadow: 0px 0px 20px rgb(155, 155, 155);
}
.intro-text{
    padding: 30px;
    background-color: rgb(245, 221, 189);
}
.main app-wizard{
    width: 100%;  
    display: inline-flex;  
    justify-content: center;

}

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .card{
        width: 90%;
    }
    header .title h1{        
        font-size: 60px;
    }
    header .title h5{
        position: absolute;
        top: 75px;
        left: 120px;
        color: rgb(252, 230, 31);
    }
    .main{
        min-height: calc(100vh - 220px);
    }
    .intro{
        width: 85%;
    }
 }
 @media only screen and (max-device-width: 980px){
    .intro{
        width: 75%;
    }
 }