<div class="">
  <header class="">
    <!-- <div class="logo flex justify-content-start w-full mb-2 mt-2">
        <img src="../assets/book_logo.png" alt="" width="200" height="100" />
      </div> -->
    <div
      class="title flex justify-content-start absolute ml-5 top-0"
      style="width: 280px; height: 50px"
    >
      <h1>English</h1>
      <h5 class="flex justify-content-end">level test</h5>
    </div>
    <div
      class="flex justify-content-end pr-5"
      style="width: 100vw; align-items: center"
    >
    <div class="flex pr-2">
      <button class="test-button" (click)="startTesting()">Test</button>
    </div>
      <div class="user pr-2">
        {{ userLogin }}
      </div>
      <div *ngIf="!isLogIn" class="flex">
        <img
          src="../../../assets/googleLogo.svg"
          (click)="signInWhithGoogle()"
          style="text-decoration: none; cursor: pointer"
          title="Sign In whith Google"
        />
      </div>
      <div *ngIf="isLogIn"  class="flex">
        <img
          src="../../../assets/logoutLogo.svg"
          (click)="logout()"
          style="text-decoration: none; cursor: pointer"
          title="Log Out"
          width="25px"
          height="25px"
        />
      </div>
    </div>
  </header>
  <div class="main flex flex-wrap justify-content-center">    
    <app-testing [isShowTest]="isShowTest"></app-testing>
    <app-frontpage [isShowFrontpage]="!isShowTest"></app-frontpage>
  </div>
</div>
