h1, h5{
    margin: 0;    
}

.main {     
    /* min-height: calc(100vh - 240px); */
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
header{
    position: sticky;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 100;
    align-items: center;
    justify-content: start;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    background-color: #ffffffa4;
    box-shadow: 0px 0px 20px rgb(177, 177, 177);
}
header .title h1{
    font-weight: 900;
    font-family: 'Noto Serif Display', serif;
    font-size: 50px;
    color: rgb(6, 41, 73);
    text-shadow: 1px 3px 10px rgb(113, 113, 113, 0.7);
}
header .title h5{
    position: absolute;
    top: 42px;
    left: 96px;
    font-weight: 600;
    font-family: 'Yeseva One', cursive;
    font-size: 22px;
    color: rgb(252, 230, 31);
    text-shadow: 1px 3px 8px rgba(113, 113, 113, 0.5);
}

header .user{
    font-family: 'Yeseva One', cursive;
    color: rgb(6, 41, 73);
    text-shadow: 1px 1px 15px rgb(113, 113, 113, 0.7);
}

.main app-testing{
    width: 100%;  
    display: inline-flex;  
    justify-content: center;

}


@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .card{
        width: 90%;
    }
    header .title{
        margin-top: 10px;
    }
    header .title h1{        
        font-size: 40px;
    }
    header .title h5{
        position: absolute;
        top: 31px;
        left: 77px;
        color: rgb(252, 230, 31);
    }
    .main{
        min-height: calc(100vh - 220px);
    }
    .intro{
        width: 85%;
    }
 }
 @media only screen and (max-device-width: 680px) {
    header .user{
        display: none;
    }
 }
 @media only screen and (max-device-width: 980px){
    .intro{
        width: 75%;
    }
 }